<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nutriscan">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- For Android 12 and below -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <!-- Declare camera feature but not mandatory -->
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NutriScan"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config">

        <!-- File provider for camera images -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <!-- 🟢 Welcome Activity (Launcher Screen) -->
        <activity
            android:name=".WelcomeActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NutriScan.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--  Login Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NutriScan" />

        <!--Register Activity -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NutriScan" />

        <!-- OCR Activity -->
        <activity
            android:name=".OcrActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NutriScan" />

        <!-- Result Activity -->
        <activity
            android:name=".ResultActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NutriScan"
            android:parentActivityName=".OcrActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".OcrActivity" />
        </activity>



    </application>

</manifest>